@charset "utf-8";
/* CSS Document */
body {
	background-color: #000;
	color: #AEE;
	font: small Verdana, Geneva, sans-serif;
	margin: 7px 0px 0px 0px;
}
input[type="text"]{
	font-size: x-small;
	/*height:13px;*/
	border: 1px solid #666;
	border-radius: 4px;
	-moz-border-radius:4px; /* Firefox 3.6 and earlier */
}
#outputtextarea {
	font: x-small Verdana, Geneva, sans-serif;
	color: #AEE;
	line-height: 11px;
	background-color: #444;
	width: 265px;
	height: 250px;
	padding: 5px;
	border: 2px solid #666;
	border-radius: 7px;
	-moz-border-radius:7px; /* Firefox 3.6 and earlier */
}
#divImageRadios {
	font: x-small Verdana, Geneva, sans-serif;
	color: #AEE;
	width: 130px;
	line-height: 11px;
}
#divDeviceRadios {
	font: x-small Verdana, Geneva, sans-serif;
	color: #AEE;
	width: 280px;
	line-height: 11px;
}
#divCanvasImg {
	width: 803px;
	height: 603px;
	overflow: auto;
	background-image: url(WebCL_Logo.jpg);
}
a {
	color:#9CC;
	text-decoration:none;
	border-bottom: thin solid;
}
a:hover {
	color:#F90;
	text-shadow: 0 0 15px #F90;
	border-bottom:none;
	text-decoration:none;
}
.titleTd{
	font: xx-large "Courier New", Courier, monospace;
}
.header{
	font-size: medium;
}
.buttons {
	padding:1px;
	color:#FFF;
	background-color: #666;
	border-radius:7px;
	-moz-border-radius:7px;
}
.dirButtonImage {	
	border-radius:3px;
	-moz-border-radius:3px;
}
.roundCornerImage {	
	border-radius:7px;
	-moz-border-radius:7px;
}
.dirButtons {
	width: 24px;
	height: 24px;
	padding: 0px;
	color:#AEE;
	background-color: #666;
	border-radius:7px;
	-moz-border-radius:7px;
}
.adjustTable{
	font-size: x-small;
	line-height: 11px;
}
.genTd {
	border: #666 2px solid;
	background-color: #333;	
	border-radius:12px;
	-moz-border-radius:12px; /* Firefox 3.6 and earlier */
	font-size: x-small;
}
.noSpaceTd{
	border: #666 2px solid;
	background-color: #333;
	border-radius:12px;
	-moz-border-radius:12px; /* Firefox 3.6 and earlier */
	font: x-small Verdana, Geneva, sans-serif;
	padding: 0px 0px 0px 0px;
}
.rightDiv{
	position: relative;
	left:-6px;
	
}
